*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
nav{
    height: 10%;
    width: 100%;
    background-color: aqua;
}
main{
    position: relative;
    height: 80%;
    width: 100%;
}
main > div, main > aside{
    position: absolute;
    display: inline-block;
    height: 100%;
    padding: 0 0 5% 5%;
}
main > div {
    right: 0;
    width: 75%;
}
main > aside{
    width: 25%;
}
footer{
    height: 10%;
    width: 100%;
    background-color: aqua;
}